@import '../node_modules/react-json-pretty/themes/monikai.css';

.__json-pretty__ {
  overflow: hidden;
}

:root {
  --primaryColor: #272822;
  --secondaryColor: #fd971f;
  --tertiarycolor: #f92672;
  --quaternaryColor: #66d9ef;
  --quinaryColor: #bdc3c7;
}

body {
  background: var(--primaryColor);
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  overflow-x: hidden;
  min-height: -webkit-fill-available;
  height: 100vh;
  width: 100vw;
}

.ShowScrollBar ::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar {
  display: none;
  height: 0.25rem;
  width: 0.25rem;
  background-color: transparent;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  transition: 200ms linear;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px var(--grey);
  background: var(--grey; */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 6px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
